body {
  width: 80%;
  margin-left: 10%;
}

div {
  float: left;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

img {
  width: 200px;
}

h2 {
  margin: 5px;
}